body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

main {
    background-color: #EFF1F4;
    box-sizing: border-box;
    padding: 20px;
}

.main-content-block {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 #8A939E;
}

#main-content-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center center;
    width: 70%;
    margin-left: 15%;
    gap: 20px;
}

#main-content-top div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 5px 10px;
    height: 10em;
}

#main-content-top article a::before {
    content: url("../img/check-smooth.svg");
    padding: 5px;
}

#main-content-top article a {
    color: #8A939E;
}

.butt {
    border-radius: 5px;
    margin: 10px;
    padding: 12px 20px 12px 20px;
}

#tb {
    background-color: #FFE8ED;
    color: #F74068;
}

#bt {
    background-color: #F74068;
    color: white;
}

#main-content-top div img {
    align-self: flex-end;
    position: absolute;
}

#main-content-top div h4 {
    margin-left: 10px;
}

#main-content-top div article {
    padding-left: 5px;
}

.telegram-bot img {
    height: 105px;
    padding-right: 10px;
    top: 637px;
}

.bus-tickets img {
    height: 150px;
    top: 600px;
}

#main-content-middle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 35px 1fr 15px;
    place-content: center center;
    width: 70%;
    height: 23em;
    margin: 25px 15%;
    gap: 5px 20px;
}

#main-content-middle h3 {
    margin: 0;
}

.ways {
    padding: 0 20px;
}

.ways div {
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: 40px;
}

.ways div section {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    transition: transform 0.7s ease
}

.ways div section:hover {
    border: 1px solid #EFF1F4;
    border-radius: 5px;
    transform: scale(1.01);
}

.ways div:not(:nth-child(-n+1)) {
    border-top: 1px solid #EFF1F4;
}

.price {
    color: #F74068;
}

.rating-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.rating-header a {
    color: #76A7FA;
    font-size: 12px;
    align-self: center;
}

.rating-header-top {
    text-transform: uppercase;
}

.rating {
    padding: 15px 20px;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.rating div {
    font-size: 14px;
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    transition: transform 0.7s ease;
    a {
        color: #76A7FA;
    }
}

.rating div:hover {
    font-weight: bold;
    transform: scale(1.01);

    a {
        color: #F74068;
    }
}

.rating div section {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.place {
    margin-right: 10px;
}

.score::before {
    content: url("../img/star.svg");
    padding: 5px;
}

#main-content-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 35px 0.7fr 0.7fr 0.5fr;
    place-content: center center;
    width: 70%;
    margin: 25px 15%;
    gap: 20px 20px;
}

.hot-sales {
    padding: 15px 20px;
    grid-row-start: 2;
    grid-row-end: 5;
}

.hot-sales p {
    color: #8A939E;
}

.faq {
    padding: 15px 20px;
}

.faq div {
    display: flex;
    font-size: 14px;
    height: 16.67%;
    width: 100%;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    a {
        color: #76A7FA;
    }
}

.btd-subscription {
    background-color: #D0D1FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px 20px;
    grid-column-start: 2;
    grid-row-start: 3;
}

.btd-subscription div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btd-subscription form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btd-subscription img {
    height: 100px;
}

.sub-form input {
    border-radius: 3px;
    height: 2.4em;
    width: 15em;
    border: 1px solid #F74068;
    padding-inline: 5px;
}

.sub-form input::placeholder {
    color: #F74068;
    padding-left: 10px;
}

.sub-form button {
    background-color: #F74068;
    border: 1px solid #F74068;
    color: white;
    height: 2.7em;
    width: 3em;
    padding: 3px;
    border-radius: 3px;
}

#exc {
    position: relative;
    height: 20px;
    align-self: flex-end;
    bottom: 29px;
    left: 205px;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.sub-form button img {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    transform: rotate(-90deg);
}

.sub-form label {
    display: none;
}
